@model IPageable
@{
    var orderBy = @Model.OrderBy ?? "";
}

<div class="row my-4">
    <div class="col-md-3"></div>
    <div class="col-md-1">
        @if (Model.CanMovePrevious)
        {
            <a asp-route-orderBy="@orderBy"
               asp-route-page="@Model.PreviousPage" class="btn btn-secondary">
                <i class="fas fa-backward"></i>
            </a>
        }
    </div>
    <div class="col-md-4 text-center align-middle" style="line-height: 2em;">
        Page @Model.CurrentPage of @Model.TotalPages
    </div>
    <div class="col-md-1">
        @if (Model.CanMoveNext)
        {
            <a asp-route-orderBy="@orderBy"
               asp-route-page="@Model.NextPage" class="btn btn-secondary">
                <i class="fas fa-forward"></i>
            </a>
        }
    </div>
    <div class="col-md-3"></div>
</div>